#grid {
    grid-template-columns: repeat(24, 1fr);
    width: 24.25rem;
    height: 24.25rem;
    border: 2px solid black;
}

.selected {
    translate: 1px 1px;
}

.not-selected {
    box-shadow: 2px 2px black;
}